$icon-font-path: '../fonts/';

$black: #000000;
$grey-dark: #272727;
$grey-medium: #555555;
$grey-light: #acacac;
$grey-lightest: #f6f6f6;
$grey-lighter: #dbdbdb;
$white: #ffffff;


$primary-color: #50b748;
$primary-color-dark: #285f23;

$secondary-color: #360d9a;
$secondary-color-dark: #1a0157;

$heading-font: 'Foco-Bold';
$body-font: 'Foco-Regular';
$accent-font: 'PermanentMarker';