form{

}
.form-control{
	border-radius: 0;
	box-shadow: none;
	color: $grey-medium;
	padding: 4px 12px;
}
@media all and (max-width: 768px){
	.form-inline .form-control-static {
	    display: inline-block;
	}
	.form-inline .form-control {
	    display: inline-block;
	    width: auto;
	    vertical-align: middle;
	}
}

.select-wrapper {
    background-color: #FFF;
    display: inline-block;
    position: relative;
    width: 100%;
    color: $grey-light;
    select{
    	-webkit-appearance:none;
    	-moz-appearance:none;
    }
}

.select-wrapper:after {
    content: "\f078";
    font-family: 'FontAwesome';
    position: absolute;
    top: 7px;
    right: 12px;
    z-index: 5;
}